<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Ana Laura Toranzos | My Portfolio</title>
</head>

<body>
    <div class="toggle" onclick="toggleMenu();"></div>

    <!-- HOME -->
    <section class="banner" id="home">
        <div class="img-sidebar">
            <img src="/img/banner.jpg">
        </div>

        <div class="content-bx">
            <h5 class="logo-text">My Portfolio</h5>
            <div>
                <h4><span>Hi!</span> I'm</h4>
                <h2>Laura Toranzos</h2>
                <h4>Full Stack Web Developer</h4>
                <p>I have strong experience working within enterprise CMS's and digital platforms. Also I have analytical troubleshooting experience. I'm very communicative and collaborative. I would like to keep learning, growing professionally and  developing new skills.</p>
                <a href="#" class="btn">About me</a>
            </div>

            <ul class="sci">
                <li><a href="#"><img src="/img/linkedin.png"></a></li>
                <li><a href="#"><img src="/img/github.png"></a></li>
            </ul>
        </div>

    </section>

    <!-- ABOUT -->
    <section class="about" id="about">

        <div class="title white">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odio doloribus ad voluptates omnis totam eaque ratione ab vitae blanditiis.</p>
        </div>

        <div class="content">
            <div class="text-bx">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt saepe incidunt, adipisci ratione obcaecati facilis dolorem maiores, non ipsa, consequuntur suscipit natus ducimus. Cum dignissimos iure aliquam dolores labore ipsam laboriosam possimus harum enim doloribus, voluptas ipsum repellat rerum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt saepe incidunt, adipisci ratione obcaecati facilis dolorem maiores, non ipsa, consequuntur suscipit natus ducimus. Cum dignissimos iure aliquam dolores labore ipsam laboriosam possimus harum enim doloribus, voluptas ipsum repellat rerum!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt saepe incidunt, adipisci ratione obcaecati facilis dolorem maiores, non ipsa, consequuntur suscipit natus ducimus. Cum dignissimos iure aliquam dolores labore ipsam laboriosam possimus harum enim doloribus, voluptas ipsum repellat rerum!</p>
            </div>
            <div class="img-bx">
                <img src="">
            </div>
        </div>

    </section>

    <!-- SERVICES -->
    <section class="services" id="services">

        <div class="title">
            <h2>Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odio doloribus ad voluptates omnis totam eaque ratione ab vitae blanditiis.</p>
        </div>

        <div class="content">

            <div class="services-bx">
                <img src="/img/icon1.png">
                <h2>Web Design</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae, corporis ad esse itaque recusandae.</p>
            </div>

            <div class="services-bx">
                <img src="/img/icon2.png">
                <h2>Web Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae, corporis ad esse itaque recusandae.</p>
            </div>

            <div class="services-bx">
                <img src="/img/icon3.png">
                <h2>Android Apps</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae, corporis ad esse itaque recusandae.</p>
            </div>

            <div class="services-bx">
                <img src="/img/icon4.png">
                <h2>Photography</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae, corporis ad esse itaque recusandae.</p>
            </div>

            <div class="services-bx">
                <img src="/img/icon5.png">
                <h2>Content Writing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae, corporis ad esse itaque recusandae.</p>
            </div>

            <div class="services-bx">
                <img src="/img/icon6.png">
                <h2>Video Editing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae, corporis ad esse itaque recusandae.</p>
            </div>

        </div>
    </section>

    <!-- PROJECTS -->
    <section class="projects" id="projects">
        <div class="title">
            <h2>Recent Work</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odio doloribus ad voluptates omnis totam eaque ratione ab vitae blanditiis.</p>
        </div>

        <div class="content">

            <!-- PROJECT 1 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div>

            <!-- PROJECT 2 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div>

            <!-- PROJECT 3 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div>

            <!-- PROJECT 4 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div>
        </div>


            

        

        <div class="content">

            <!-- PROJECT 5 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div> 

            <!-- PROJECT 6 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div>

            <!-- PROJECT 7 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div>

            <!-- PROJECT 8 -->
            <div class="projects-bx">
                <div class="img-bx">
                    <img src="/img/img1.jpg">
                </div>
                <div class="text-bx">
                    <h3>Project 1</h3>
                </div>
            </div>
            
            
        </div>
    </section> 

    <!-- CONTACT -->
    <section class="contact" id="contact">

        <div class="title white">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore odio doloribus ad voluptates omnis totam eaque ratione ab vitae blanditiis.</p>
        </div>

        <div class="contact-form">
            <div class="row">
                <div class="col-50">
                    <input type="text" name="" placeholder="First Name">
                </div>

                <div class="col-50">
                    <input type="text" name="" placeholder="Last Name">
                </div>
            </div>

            <div class="row">
                <div class="col-50">
                    <input type="email" name="" placeholder="Email">
                </div>

                <div class="col-50">
                    <input type="text" name="" placeholder="Phone">
                </div>
            </div>

            <div class="row">
                <div class="col-100">
                    <textarea placeholder="Message"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-100">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>

    </section>

    <div class="copyright">
        <p>Copyright 2022 | Chorisaurio</p>
    </div>


    <!-- SIDEBAR -->
    <div class="sidebar">
        <ul class="menu">
            <li><a href="#home" onclick="toggleMenu();">Home</a></li>
            <li><a href="#about" onclick="toggleMenu();">About</a></li>
            <li><a href="#services" onclick="toggleMenu();">Services</a></li>
            <li><a href="#projects" onclick="toggleMenu();">Projects</a></li>
            <li><a href="#contact" onclick="toggleMenu();">Contact</a></li>
        </ul>
    </div>

    <!-- TOGGLE -->
    <script>
        function toggleMenu(){
            const menuToggle = document.querySelector('.toggle')
            const sidebar = document.querySelector('.sidebar')

            menuToggle.classList.toggle('active');
            sidebar.classList.toggle('active')
        }
    </script>
    
</body>
</html>